In [367]:
import pandas as pd
import numpy as np
import pickle 
from fuzzywuzzy import process
from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix

In [280]:
def lookup_boardgame(ids):    
    '''
    converts boardgame ids into boardgame names
    '''
    return boardgames.loc[ids, 'name'].tolist()

def lookup_user_id(user_name):
    '''
    returns the user id of a user
    '''
    user_id = users[users['user_name']==user_name]['user_id'].tolist()[0]
    return user_id

def create_user_vector(user_name):
    '''
    returns a 1d array of the ratings of one user
    unrated boardgames = 0
    '''
    user = create_user_ratings(user_name)
    vector_length = ratings['boardgame_id'].max()
    vector = np.repeat(0, vector_length+1)
    vector[user['boardgame_id']] = user['ratings']
    return vector

def create_user_ratings(user_name):
    '''
    returns a dataframe with rated boardgames for a specified user
    '''
    user_id = lookup_user_id(user_name)
    user = ratings[ratings['user_id']==user_id]
    return user

def values_to_list(df, column_name):
    categories = []
    for i in df[df[column_name].notna()].iterrows():
        categories = categories + i[1][column_name].split(', ')
    categories = list(dict.fromkeys(categories))
    categories.sort()
    return categories


def ohe_user_boardgames(user_name, column, weight=False):
    '''
    returns a one-hot-encoded matrix of parameters in column of games played by user
    if weight = True, the encoding gets weighted by the rating
    '''
    games_ohe={}
    user_id = users[users['user_name']==user_name]['user_id'].tolist()[0]
    user_ratings = ratings[ratings['user_id']==user_id].set_index('boardgame_id')
    user_boardgames = boardgames_ext.loc[user_ratings.index]
    user_boardgames = user_boardgames[user_boardgames[column].notna()]
    user_categories = values_to_list(user_boardgames, column)    
    for i in user_boardgames.iterrows():
        game_vector = [0]*len(user_categories)
        for c in i[1][column].split(', '):
            index = user_categories.index(c)
            if weight == True:
                game_vector[index]=1 * user_ratings.loc[i[0]]['ratings']
            else: 
                game_vector[index]=1
        games_ohe[i[0]] = game_vector
    df = pd.DataFrame(games_ohe)
    df = df.transpose()
    df.columns = user_categories
    return df

In [328]:
boardgames = pd.read_csv('../data/boardgames_extend.csv', index_col='id')
boardgames.head()

,Unnamed: 0,rank,name,links,num_voters,categories,mechanics,family,expansions,integrations,designers,publishers
id,,,,,,,,,,,,
30549,0,104.0,Pandemic,/boardgame/30549/pandemic,104891,Medical,"Action Points, Cooperative Game, Hand Manageme...","Components: Map (Global Scale), Components: Mu...",Pandemic: Gen Con 2016 Promos – Z-Force Team M...,NaN,Matt Leacock,"Z-Man Games, Inc., (Unknown), Albi, Asmodee, A..."
822,1,184.0,Carcassonne,/boardgame/822/carcassonne,104530,"City Building, Medieval, Territory Building","Area Majority / Influence, Map Addition, Tile ...","Cities: Carcassonne (France), Components: Meep...","20 Jahre Darmstadt Spielt, Apothecaries (fan e...",Carcassonne: Wheel of Fortune,Klaus-Jürgen Wrede,"Hans im Glück, 999 Games, Albi, Bard Centrum G..."
13,2,408.0,Catan,/boardgame/13/catan,103960,"Economic, Negotiation","Dice Rolling, Hexagon Grid, Income, Modular Bo...","Animals: Sheep, Components: Hexagonal Tiles, C...","20 Jahre Darmstadt Spielt, Brettspiel Adventsk...",NaN,Klaus Teuber,"KOSMOS, 999 Games, Albi, Astrel Games, Bergsal..."
68448,3,71.0,7 Wonders,/boardgame/68448/7-wonders,86475,"Ancient, Card Game, City Building, Civilizatio...","Drafting, Hand Management, Set Collection, Sim...","Digital Implementations: Board Game Arena, Gam...","7 Wonders: Armada, 7 Wonders: Babel, 7 Wonders...",NaN,Antoine Bauza,"Repos Production, ADC Blackfire Entertainment,..."
36218,4,101.0,Dominion,/boardgame/36218/dominion,79469,"Card Game, Medieval","Deck, Bag, and Pool Building, Delayed Purchase...","Crowdfunding: Wspieram, Game: Dominion, Misc: ...","Ancient Times (fan expansion for Dominion), An...",Dominion: Intrigue,Donald X. Vaccarino,"Rio Grande Games, 999 Games, Albi, Bard Centru..."

# Nearest Neighbor Model

In [281]:
ratings = pd.read_csv('../data/ratings_cleaned.csv')

In [282]:
ratings.head()

   boardgame_id  ratings  user_id
0         30549     10.0      214
1           822     10.0      214
2            13     10.0      214
3         68448     10.0      214
4         36218     10.0      214

In [283]:
ratings.shape

(20484318, 3)

In [284]:
ratings['user_id'].max()

265862

## Create sparse User-Item-Matrix

In [285]:
user_item = csr_matrix((ratings['ratings'], (ratings['user_id'], ratings['boardgame_id'])))

In [286]:
#shape = (number of users, max boardgame_id)
user_item.shape

(265863, 340910)

## Create Model

In [287]:
model = NearestNeighbors(metric='cosine')

In [288]:
model.fit(user_item)

NearestNeighbors(metric='cosine')

In [289]:
#save model
with open('../models/knn_model_cosine.pickle', 'wb') as file:
    pickle.dump(model, file)

## Create User Vectors

In [290]:
users = pd.read_csv('../data/users.csv')
users.head()

     user_name  num_ratings  user_id
0  Walt Mulder         8675        0
1         Doel         8599        1
2     TomVasel         7052        2
3        warta         6902        3
4  jmdsplotter         6210        4

In [291]:
user_id = users[users['user_name']=='Ser0']['user_id'].tolist()[0]
user_id

40701

In [292]:
user = create_user_ratings('Ser0')
user

          boardgame_id  ratings  user_id
13495904         30549      5.0    40701
13495905         68448      8.0    40701
13495906         36218      6.0    40701
13495907        178900      7.0    40701
13495908        167791      9.0    40701
...                ...      ...      ...
13496026        303734      5.0    40701
13496027         42636      6.0    40701
13496028        165984      6.0    40701
13496029        135213      9.0    40701
13496030        155203      7.0    40701

[127 rows x 3 columns]

In [293]:
user_boardgames = user['boardgame_id']

In [294]:
#initialize vector with 0
vector_length = ratings['boardgame_id'].max()
vector = np.repeat(0, vector_length+1)

In [295]:
vector[user['boardgame_id']] = user['ratings']

In [296]:
vector.shape

(340910,)

## Find Neighbors

In [335]:
distances, neighbor_ids = model.kneighbors([vector], n_neighbors=20)

In [336]:
neighbor_ids

array([[ 40701,  88695,  73514, 221205,  74607, 163111,  78724, 127072,
        123549, 161858, 182491,  80020, 255072,  65479,  37333,  52490,
        224506,  52965, 193660, 150343]])

In [337]:
distances

array([[0.        , 0.67720592, 0.71442184, 0.72092662, 0.72340518,
        0.72377673, 0.72456408, 0.72643922, 0.72915679, 0.72969398,
        0.7313644 , 0.73204884, 0.73217313, 0.7327525 , 0.73386521,
        0.73461379, 0.7346605 , 0.73605616, 0.73606324, 0.73646509]])

In [338]:
neighbor_filter = (ratings['user_id'].isin(neighbor_ids[0][1:]))
user_played_filter = (~ratings['boardgame_id'].isin(user_boardgames))
neighbor_ratings = ratings[neighbor_filter&user_played_filter]

In [339]:
neighbor_ratings

          boardgame_id  ratings  user_id
6004887            822      8.0    73514
6004888             13      6.5    73514
6004891           9209      8.0    73514
6004896         148228      5.0    73514
6004898          14996      8.0    73514
...                ...      ...      ...
19160357        233078     10.0   161858
19160360        285774      8.0   161858
19160361        281259      9.0   161858
19160363        184267      9.0   161858
19160365        246900     10.0   161858

[597 rows x 3 columns]

In [340]:
value_counts = pd.DataFrame(neighbor_ratings['boardgame_id'].value_counts())
value_counts.columns = ['count']
value_counts.head()

        count
13          7
201808      7
205637      7
163412      7
822         7

In [341]:
frequently_played = value_counts[value_counts['count']>2].index
frequently_played

Int64Index([    13, 201808, 205637, 163412,    822, 230802, 148228, 183394,
            244522, 284083, 193738,  14996, 161936,    432, 191189, 244992,
             84876, 174430, 127398,    181, 158899, 170216,   1406, 129622,
            199042, 121921, 265736, 254640, 271320,   9209, 157354,     11,
            274960, 223040, 182028,  10547, 262712, 192291,  70919, 188834,
             39856, 169426, 221107, 147949,   9220, 269207, 233867, 236457,
            233078, 257499],
           dtype='int64')

In [343]:
frequently_played_filter = (neighbor_ratings['boardgame_id'].isin(frequently_played))
neighbor_taste = neighbor_ratings[frequently_played_filter].groupby('boardgame_id').mean().sort_values('ratings', ascending=False)
neighbor_taste.head()

               ratings        user_id
boardgame_id
191189        8.800000   64898.400000
170216        8.625000   85407.250000
201808        8.571429   86049.714286
284083        8.500000   61821.500000
257499        8.466667  121802.666667

In [345]:
recommendations = boardgames.loc[neighbor_taste.index]['name'].tolist()
recommendations[:10]

["Aeon's End",
 'Blood Rage',
 'Clank!: A Deck-Building Adventure',
 'The Crew: The Quest for Planet Nine',
 'Arkham Horror (Third Edition)',
 'Gloomhaven',
 'Great Western Trail',
 'Robinson Crusoe: Adventures on the Cursed Island',
 'Azul',
 'The Castles of Burgundy']

In [356]:
def neighbor_recommender(user_name):
    '''
    returns a list of boardgame recommendations
    '''
    user_ratings = create_user_ratings(user_name)
    user_vector = create_user_vector(user_name)
    #create neigbors of user
    distances, neighbor_ids = model.kneighbors([user_vector], n_neighbors=20)
    neighbor_filter = (ratings['user_id'].isin(neighbor_ids[0][1:]))
    user_played_filter = (~ratings['boardgame_id'].isin(user_ratings['boardgame_id']))
    #create df only with neighboars and unplayed boardgames
    neighbor_ratings = ratings[neighbor_filter&user_played_filter]
    #filter for boardgames which have been played by more than 2 neighbors, groupby boardgames and order by the mean of ratings
    value_counts = pd.DataFrame(neighbor_ratings['boardgame_id'].value_counts())
    value_counts.columns = ['count']
    frequently_played = value_counts[value_counts['count']>5].index
    frequently_played_filter = (neighbor_ratings['boardgame_id'].isin(frequently_played))
    neighbor_taste = neighbor_ratings[frequently_played_filter].groupby('boardgame_id').mean().sort_values('ratings', ascending=False)
    recommend_ids = neighbor_taste.index
    return boardgames.loc[recommend_ids]['name'].tolist()[:10]

In [357]:
neighbor_recommender('Ser0')

['Clank!: A Deck-Building Adventure',
 'The Crew: The Quest for Planet Nine',
 'Great Western Trail',
 'Azul',
 'Carcassonne',
 'Arkham Horror: The Card Game',
 'Viticulture Essential Edition',
 'Ticket to Ride: Europe',
 "That's Pretty Clever!",
 'Patchwork']

## Find Top Categories, Mechanics etc.

In [348]:
boardgames.head()

,Unnamed: 0,rank,name,links,num_voters,categories,mechanics,family,expansions,integrations,designers,publishers
id,,,,,,,,,,,,
30549,0,104.0,Pandemic,/boardgame/30549/pandemic,104891,Medical,"Action Points, Cooperative Game, Hand Manageme...","Components: Map (Global Scale), Components: Mu...",Pandemic: Gen Con 2016 Promos – Z-Force Team M...,NaN,Matt Leacock,"Z-Man Games, Inc., (Unknown), Albi, Asmodee, A..."
822,1,184.0,Carcassonne,/boardgame/822/carcassonne,104530,"City Building, Medieval, Territory Building","Area Majority / Influence, Map Addition, Tile ...","Cities: Carcassonne (France), Components: Meep...","20 Jahre Darmstadt Spielt, Apothecaries (fan e...",Carcassonne: Wheel of Fortune,Klaus-Jürgen Wrede,"Hans im Glück, 999 Games, Albi, Bard Centrum G..."
13,2,408.0,Catan,/boardgame/13/catan,103960,"Economic, Negotiation","Dice Rolling, Hexagon Grid, Income, Modular Bo...","Animals: Sheep, Components: Hexagonal Tiles, C...","20 Jahre Darmstadt Spielt, Brettspiel Adventsk...",NaN,Klaus Teuber,"KOSMOS, 999 Games, Albi, Astrel Games, Bergsal..."
68448,3,71.0,7 Wonders,/boardgame/68448/7-wonders,86475,"Ancient, Card Game, City Building, Civilizatio...","Drafting, Hand Management, Set Collection, Sim...","Digital Implementations: Board Game Arena, Gam...","7 Wonders: Armada, 7 Wonders: Babel, 7 Wonders...",NaN,Antoine Bauza,"Repos Production, ADC Blackfire Entertainment,..."
36218,4,101.0,Dominion,/boardgame/36218/dominion,79469,"Card Game, Medieval","Deck, Bag, and Pool Building, Delayed Purchase...","Crowdfunding: Wspieram, Game: Dominion, Misc: ...","Ancient Times (fan expansion for Dominion), An...",Dominion: Intrigue,Donald X. Vaccarino,"Rio Grande Games, 999 Games, Albi, Bard Centru..."

In [156]:
def values_to_list(df, column_name):
    categories = []
    for i in df[df[column_name].notna()].iterrows():
        categories = categories + i[1][column_name].split(', ')
    categories = list(dict.fromkeys(categories))
    categories.sort()
    return categories

In [352]:
def ohe_user_boardgames(user_name, column, weight=False):
    '''
    returns a one-hot-encoded matrix of parameters in column of games played by user
    if weight = True, the encoding gets weighted by the rating
    '''
    games_ohe={}
    user_id = users[users['user_name']==user_name]['user_id'].tolist()[0]
    user_ratings = ratings[ratings['user_id']==user_id].set_index('boardgame_id')
    user_boardgames = boardgames.loc[user_ratings.index]
    user_boardgames = user_boardgames[user_boardgames[column].notna()]
    user_categories = values_to_list(user_boardgames, column)    
    for i in user_boardgames.iterrows():
        game_vector = [0]*len(user_categories)
        for c in i[1][column].split(', '):
            index = user_categories.index(c)
            if weight == True:
                game_vector[index]=1 * user_ratings.loc[i[0]]['ratings']
            else: 
                game_vector[index]=1
        games_ohe[i[0]] = game_vector
    df = pd.DataFrame(games_ohe)
    df = df.transpose()
    df.columns = user_categories
    if 'Deck' in user_categories:
        df['Deck, Bag and Pool Building'] = df['Deck']
        df.drop(columns=['Deck', 'Bag', 'and Pool Building'], inplace=True)
    if 'I Cut' in user_categories:
        df['I Cut, You Choose'] = df['I Cut']
        df.drop(columns=['I Cut', 'You Choose'], inplace=True)
    return df

In [355]:
ohe_user_boardgames('Ser0', 'mechanics').sum().sort_values(ascending=False)

Hand Management           49
Dice Rolling              31
Variable Player Powers    29
Card Drafting             27
Solo / Solitaire Game     25
                          ..
Flicking                   1
Predictive Bid             1
Static Capture             1
Sudden Death Ending        1
Finale Ending              1
Length: 120, dtype: int64

# NMF Model

In [253]:
from sklearn.decomposition import NMF

In [254]:
ratings.shape

(20484318, 3)

In [255]:
user_item.shape

(265863, 340910)

In [256]:
user_item

<265863x340910 sparse matrix of type '<class 'numpy.float64'>'
	with 20321657 stored elements in Compressed Sparse Row format>

In [257]:
nmf = NMF(n_components=50, max_iter=600, init='nndsvd', alpha=0.01)

In [96]:
#nmf.fit(user_item)

NMF(alpha=0.01, init='nndsvd', max_iter=600, n_components=50)

In [248]:
#write model
#with open('../models/nmf_50.pickle', 'wb') as file:
#    pickle.dump(nmf, file)

In [261]:
#read model
with open('../models/nmf_50.pickle', 'rb') as file:
    nmf = pickle.load(file)

In [262]:
vector.shape

(340910,)

In [263]:
nmf.reconstruction_err_

28435.618386504528

In [264]:
Q = nmf.components_

In [265]:
P = nmf.transform([vector])

In [266]:
Q.shape, P.shape

((50, 340910), (1, 50))

In [267]:
predictions = np.dot(P, Q)
predictions

array([[0.        , 0.03044573, 0.01210105, ..., 0.        , 0.        ,
        0.00164359]])

In [268]:
predictions.shape

(1, 340910)

In [269]:
pseudo_ids = list(range(0,340910))

In [270]:
df = pd.DataFrame(predictions, columns=pseudo_ids)

In [271]:
recommendations_all = df.T.sort_values(0, ascending=False)
recommendations_all = recommendations_all.reset_index()
recommendations_all.columns = ['pseudo_id', 'pred_rating']
recommendations_all.head()

   pseudo_id  pred_rating
0     266192    11.776423
1     167791     8.348095
2      68448     7.536493
3     178900     7.263934
4     173346     6.830049

In [272]:
boardgames = pd.read_csv('../data/boardgames_extend.csv')
boardgames.head()

,Unnamed: 0,id,rank,name,links,num_voters,categories,mechanics,family,expansions,integrations,designers,publishers
0,0,30549,104.0,Pandemic,/boardgame/30549/pandemic,104891,Medical,"Action Points, Cooperative Game, Hand Manageme...","Components: Map (Global Scale), Components: Mu...",Pandemic: Gen Con 2016 Promos – Z-Force Team M...,NaN,Matt Leacock,"Z-Man Games, Inc., (Unknown), Albi, Asmodee, A..."
1,1,822,184.0,Carcassonne,/boardgame/822/carcassonne,104530,"City Building, Medieval, Territory Building","Area Majority / Influence, Map Addition, Tile ...","Cities: Carcassonne (France), Components: Meep...","20 Jahre Darmstadt Spielt, Apothecaries (fan e...",Carcassonne: Wheel of Fortune,Klaus-Jürgen Wrede,"Hans im Glück, 999 Games, Albi, Bard Centrum G..."
2,2,13,408.0,Catan,/boardgame/13/catan,103960,"Economic, Negotiation","Dice Rolling, Hexagon Grid, Income, Modular Bo...","Animals: Sheep, Components: Hexagonal Tiles, C...","20 Jahre Darmstadt Spielt, Brettspiel Adventsk...",NaN,Klaus Teuber,"KOSMOS, 999 Games, Albi, Astrel Games, Bergsal..."
3,3,68448,71.0,7 Wonders,/boardgame/68448/7-wonders,86475,"Ancient, Card Game, City Building, Civilizatio...","Drafting, Hand Management, Set Collection, Sim...","Digital Implementations: Board Game Arena, Gam...","7 Wonders: Armada, 7 Wonders: Babel, 7 Wonders...",NaN,Antoine Bauza,"Repos Production, ADC Blackfire Entertainment,..."
4,4,36218,101.0,Dominion,/boardgame/36218/dominion,79469,"Card Game, Medieval","Deck, Bag, and Pool Building, Delayed Purchase...","Crowdfunding: Wspieram, Game: Dominion, Misc: ...","Ancient Times (fan expansion for Dominion), An...",Dominion: Intrigue,Donald X. Vaccarino,"Rio Grande Games, 999 Games, Albi, Bard Centru..."

In [273]:
boardgames[['id','name']].head()

      id         name
0  30549     Pandemic
1    822  Carcassonne
2     13        Catan
3  68448    7 Wonders
4  36218     Dominion

In [274]:
prediction_df = pd.merge(boardgames[['id','name']], recommendations_all, left_on='id', right_on='pseudo_id', how='left')
prediction_df = prediction_df.set_index('id')
prediction_df.head()

              name  pseudo_id  pred_rating
id
30549     Pandemic      30549     4.749527
822    Carcassonne        822     0.273716
13           Catan         13     0.024271
68448    7 Wonders      68448     7.536493
36218     Dominion      36218     5.316494

In [275]:
played_filter = ~prediction_df.index.isin(user_boardgames)
prediction_df.loc[played_filter].sort_values('pred_rating', ascending=False).head(20)

,name,pseudo_id,pred_rating
id,,,
40834,Dominion: Intrigue,40834,4.542982
183394,Viticulture Essential Edition,183394,3.879003
284083,The Crew: The Quest for Planet Nine,284083,3.150883
163412,Patchwork,163412,2.957857
236457,Architects of the West Kingdom,236457,2.788553
201808,Clank!: A Deck-Building Adventure,201808,2.371002
286096,Tapestry,286096,2.227416
205637,Arkham Horror: The Card Game,205637,2.222949
290448,Wingspan: European Expansion,290448,2.158668
233867,Welcome To...,233867,2.131542
230802,Azul,230802,2.061487
104557,Dominion: Hinterlands,104557,2.059467
193738,Great Western Trail,193738,2.038044
146508,T.I.M.E Stories,146508,2.001854
244522,That's Pretty Clever!,244522,1.984754
34635,Stone Age,34635,1.983154
158899,Colt Express,158899,1.976239
266524,PARKS,266524,1.960203
121921,Robinson Crusoe: Adventures on the Cursed Island,121921,1.908181
125403,Dominion: Dark Ages,125403,1.887450

## Combined kNN and NMF

In [151]:
P = nmf.transform(user_item)

In [239]:
# open a binary file in write mode
file = open('../models/P_50', 'wb')
# save array to the file
np.save(file, P)
# close the file
file.close

In [167]:
P.shape

(265863, 50)

In [152]:
knn = NearestNeighbors(metric='cosine')
knn.fit(P)

NearestNeighbors(metric='cosine')

In [117]:
Q = nmf.components_

In [156]:
vector_transformed = nmf.transform([vector])
vector_transformed.shape

(1, 50)

In [157]:
vector_transformed = vector_transformed.T.reshape(50,)
vector_transformed.shape

(50,)

In [160]:
distances, neighbor_ids = knn.kneighbors([vector_transformed], n_neighbors=20)

In [161]:
neighbor_ids, distances

(array([[ 40701,  59834,  68546,  71553,  16639,  99654, 117602,  99865,
          64819,  95042,  42546,  73352,  71047, 179114,  19229,  14996,
          69353,  70900, 134807,  68639]]),
 array([[7.78617171e-11, 1.73424816e-01, 1.83562204e-01, 1.87554107e-01,
         1.88046754e-01, 1.95083727e-01, 1.95854162e-01, 1.98296969e-01,
         1.98848289e-01, 2.00000381e-01, 2.00449736e-01, 2.05966436e-01,
         2.05995836e-01, 2.06924451e-01, 2.08597866e-01, 2.09947744e-01,
         2.10096306e-01, 2.11213426e-01, 2.11715319e-01, 2.14067426e-01]]))

In [251]:
test = [188920, 199792, 245654, 167355, 277700, 306882, 246228, 224517, 205059, 63268, 217372, 200632, 167791, 284108, 244521, 242639, 272533, 232219, 135213, 73664, 266192, 120677, 181304, 311193, 218603, 68448, 194594, 173346, 180974, 247763, 318084, 250458, 264220, 291859, 283155, 318977, 244608, 230914, 40692, 178900, 237251, 91536, 263918, 45315, 192661, 162886, 1465, 2655, 283294, 251247, 206915, 204583, 214293, 264055, 207830, 299169, 235375, 155203, 169786, 48979, 193214, 216465, 284435, 299946, 303733, 172225, 202477, 21790, 314530, 258104, 128, 160477, 295486, 202977, 51811, 147020, 287938, 277927, 36218, 31260, 320, 237182, 147151, 239188, 66690, 4095, 217085, 227072, 31920, 121073, 274533, 10686, 282171, 262208, 260757, 6657, 181161, 39801, 305985, 305986, 3119, 232417, 300129, 288010, 63052, 18057, 42636, 165984, 50381, 66098, 185374, 98778, 209778, 206931, 90850, 256438, 173090, 143884, 30549, 181523, 303734, 15987, 305984, 1748, 204466, 122522, 50912]

In [252]:
user_ratings = create_user_ratings('Ser0')
user_ratings[user_ratings['boardgame_id'].isin(test)]

          boardgame_id  ratings  user_id
13495904         30549      5.0    40701
13495905         68448      8.0    40701
13495906         36218      6.0    40701
13495907        178900      7.0    40701
13495908        167791      9.0    40701
...                ...      ...      ...
13496026        303734      5.0    40701
13496027         42636      6.0    40701
13496028        165984      6.0    40701
13496029        135213      9.0    40701
13496030        155203      7.0    40701

[127 rows x 3 columns]

In [229]:
played_by_user = user_ratings['boardgame_id']
played_by_user

13495904     30549
13495905     68448
13495906     36218
13495907    178900
13495908    167791
             ...
13496026    303734
13496027     42636
13496028    165984
13496029    135213
13496030    155203
Name: boardgame_id, Length: 127, dtype: int64

In [231]:
neighbor_ratings = ratings[ratings['user_id'].isin(neighbor_ids[0][1:])]
neighbor_ratings = neighbor_ratings[~neighbor_ratings['boardgame_id'].isin(played_by_user)]
neighbor_ratings.head()

        boardgame_id  ratings  user_id
610879          9209      7.0    68639
610883        148228      8.5    68639
610885         39856      6.0    68639
610887         34635      7.0    68639
610888        161936     10.0    68639

In [232]:
value_counts = pd.DataFrame(neighbor_ratings['boardgame_id'].value_counts())
value_counts.columns = ['count']
value_counts.head()

        count
183394     12
230802     11
40834      10
822         9
290448      9

In [233]:
frequently_played = value_counts[value_counts['count']>=5].index

In [234]:
recommendations = neighbor_ratings[neighbor_ratings['boardgame_id'].isin(frequently_played)].groupby('boardgame_id').mean().sort_values('ratings', ascending=False).head(15).index
recommendations

Int64Index([247030, 202174, 193738, 170216, 262712, 281259, 236457, 164928,
            121921, 183394, 125403, 254640, 290448, 170042, 233867],
           dtype='int64', name='boardgame_id')

## Popularity Recommender

In [361]:
boardgames_nu = ['Everdell', 'Railroad Ink', 'Cabo']

In [368]:
def lookup_boardgamename(search_query, titles):
    """
    given a search query, uses fuzzy string matching to search for similar
    strings in a pandas series of movie titles

    returns a list of search results. Each result is a tuple that contains
    the title, the matching score and the movieId.
    """
    matches = process.extractOne(search_query, titles)
    # [(title, score, movieId), ...]
    return matches

In [372]:
looked_up_names = []
for bg in boardgames_nu:
    match = lookup_boardgamename(bg, boardgames['name'])
    looked_up_names.append(match[0])

In [373]:
looked_up_names

['Everdell', 'Ra', 'Cabo']